<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngjee.db.mapper.MemberMapper">
	
	<parameterMap id="testProcedure" type="HashMap">
	    <parameter property="par1" mode="IN" jdbcType="INTEGER" javaType="java.lang.Integer" />
	    <parameter property="par2" mode="OUT" jdbcType="INTEGER" javaType="java.lang.Integer" />
	    <parameter property="par3" mode="OUT" jdbcType="VARCHAR" javaType="java.lang.String" />
	</parameterMap>
	
	<select id="getTime" resultType="string">
		select now()
	</select>

	<insert id="insertMember" useGeneratedKeys="true" keyProperty="user_no">
		insert into member_ai(userid,userpw,username,email)
		values( #{userid},#{userpw},#{username},#{email} )
		
	</insert>
	
	<select id="getProcMethod1" parameterMap="testProcedure" statementType="CALLABLE">
		{call InOutProc(?, ?, ?)}
    </select>
    
    <select id="getProcMethod2"  statementType="CALLABLE">
		 { call InOutProc(
                     #{p1,mode=IN,jdbcType=INTEGER,javaType=java.lang.Integer},
                     #{p2,mode=OUT,jdbcType=INTEGER,javaType=java.lang.Integer},
                     #{p3,mode=OUT,jdbcType=VARCHAR,javaType=java.lang.String}
                    )
        }
    </select>
    
     <select id="getProcMethod3" parameterType="InOutProcVO"  statementType="CALLABLE">
		 { call InOutProc(
                     #{param1,mode=IN,jdbcType=INTEGER,javaType=java.lang.Integer},
                     #{param2,mode=OUT,jdbcType=INTEGER,javaType=java.lang.Integer},
                     #{param3,mode=OUT,jdbcType=VARCHAR,javaType=java.lang.String}
                    )
        }
    </select>
    
</mapper>