<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngjee.db.mapper.MemberMapper">
	<resultMap id="testProcedure" type="hashmap"></resultMap>
	
	<select id="getTime" resultType="string">
		select now()
	</select>

	<insert id="insertMember" useGeneratedKeys="true" keyProperty="user_no">
		insert into member_ai(userid,userpw,username,email)
		values( #{userid},#{userpw},#{username},#{email} )
		
	</insert>
	
	<select id="getProcValues" parameterType="InOutProcVO" statementType="CALLABLE">
        { call InOutProc(
                     #{param1,mode=IN,jdbcType=INTEGER,resultMap=testProcedure},
                     #{param2,mode=OUT,jdbcType=INTEGER},
                     #{param3,mode=OUT,jdbcType=VARCHAR}
                    )
        }
    </select>
</mapper>