<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="customerRequestService" class="sample.spring.chapter04.lookupmethod.CustomerRequestServiceImpl">
		<constructor-arg name="customerRequestDao" ref="customerRequestDao" />
		<lookup-method bean="customerRequestDetails" name="getCustomerRequestDetails"/>
	</bean>
	
	<bean id="customerRequestDetails" class="sample.spring.chapter04.lookupmethod.CustomerRequestDetails" scope="prototype" />
	<bean id="customerRequestDao" class="sample.spring.chapter04.lookupmethod.CustomerRequestDaoImpl" />
	
</beans>		 