<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


	<bean id="controller" class="sample.spring.chapter02.bankapp.controller.FixedDepositControllerImpl">
		<property name="fixedDepositService" ref="service" />
	</bean>

	<bean id="service" class="sample.spring.chapter02.bankapp.service.FixedDepositServiceImpl">
		<property name="fixedDepositDao" ref="dao" />
	</bean>

<!-- normal dao-->
<!--
	<bean id="dao" class="sample.spring.chapter02.bankapp.dao.FixedDepositHibernateDao" />
 -->

 <!-- factory method config dao -->
 	<bean id="dao" class="sample.spring.chapter02.bankapp.dao.FixedDepositDaoFactory" factory-method="getFixedDepositDao">
 		<constructor-arg index="0" value="jdbc"></constructor-arg>
 	</bean>
 	
 <!-- factory bean config dao 
 
 	<bean id="daoFactory" class="sample.spring.chapter02.bankapp.dao.FixedDepositDaoFactory"></bean>
 	
 	<bean id="dao" factory-bean="daoFactory" factory-method="getFixedDepositDao">
 		<constructor-arg index="0" value="jdbc"></constructor-arg>
 	</bean>
 	
  -->
</beans>